@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="page-header">
        <h1 class="hidden-xs">
            <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small>
            About us - What we do
        </h1>
        <h4 class="visible-xs">
            <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small>
            About us - What we do
        </h4>
    </div>
    <div class="col-sm-8">
        <p>
            Tesla Solar Solutions (TSS) designs and supplies building integrated solar photovoltaic and thermal systems for homeowners and house builders. We use the safest and most reliable methods for solar installations.
        </p>
        <p>
            TSS has a specific solar team that is dedicated in helping you achieve energy independence for your home. We are committed in developing a customized solar solution that meets your specific energy needs and financial goals. We will guide you through our turn-key installation process and file your state rebate application and reservation in order to maximize your rebate amount.Tesla Solar Technologies employs certified staff capable of handling any solar photovoltaic project. Our in-house licensed electrical engineers and on-site highly trained electricians provide professional knowledge and experience every step of the way. We encourage you to discover how.
        </p>
        <p>
            TSS can provide you with the most efficient and best designed solar system in Chicago, where satisfaction is guaranteed.
        </p>
    </div>
    <div class="col-sm-4">
        <img alt="Tesla-Soalr-Solutions-Chicago-Solar-Design-Solar-Installation-Solar-Projects" class="img-responsive img-rounded img-thumbnail" src="~/Pictures/Projects/2_small.JPG" />
    </div>
</div>

<div class="row">

    <div class="col-sm-6">
        <h3 class="page-header">Why GO Solar?</h3>
        <p class="text-success">
            <ul>
                <li>IT’S A FREE ENERGY FROM THE SUN</li>
                <li>SAVE A SIGNIFICANT AMOUNT OF YOUR HOME ENERGY BILLS</li>
                <li>REDUCE YOUR HOME’S CARBON FOOTPRINT</li>
                <li>ENERGY INDEPENDENCE</li>
                <li>DEPENDABLE AND SECURE ELECTRICITY</li>
                <li>IT ADDS TO THE VALUE OF YOUR HOME</li>
                <li>FINANCIAL AND ENVIROMENTAL BENEFITS</li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <h3 class="page-header">Benefits</h3>
        Avoid the rising costs of electric power from utility companies and in many states you can sell your excess power back into the grid.

        Tax credits and rebates on solar power systems are available to homeowners. The Illinois Department of Commerce and Economic Opportunity offers a Solar Energy Rebate Program available to just about anyone, providing rebates up to 30% of the project cost to a maximum of $10,000. Rebates apply to new photovoltaic or solar thermal systems.

        Power from the sun produces no pollution or emissions. This means you can power your home with 100 percent pure sunshine not only clean, but also renewable.

    </div>
    
</div>


