@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="page-header text-center" style="margin-bottom: 10px !important;">
        <h1 class="hidden-xs"><small>Welcome to</small> <b><i>TESLA SOLAR Solutions Co.</i></b>
        </h1>
        <h4 class="visible-xs"><small>Welcome to</small><b><i>TESLA SOLAR Solutions Co.</i></b></h4>
    </div>
    <div class="col-sm-4">
        <div class="page-header maliNaslovi text-center">
            <b style="font-size: 20px;">What we do</b>
        </div>
        <p class="" style="border-radius: 6px;">
            <b>Tesla Solar Solutions</b> designs and supplies building integrated solar photovoltaic and thermal systems for homeowners and house builders.We use the safest and most reliable methods for solar installations.
        </p>
    </div>
    <div class="col-sm-4 text-center">
        <blockquote>
            <p><i>Smarter and sustainable power solutions for your home,building or business</i></p>
            <footer>Tesla Solar Solutions</footer>
        </blockquote>

    </div>
    <div class="col-sm-4">
        <div class="page-header maliNaslovi text-center">
            <b style="font-size: 20px;">Why Go SOLAR?</b>
        </div>
        <ul style="list-style-type: none !important; padding-left: 5px !important;">
            <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> FINANCIAL AND ENVIROMENTAL BENEFITS</li>
            <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> IT ADDS TO THE VALUE OF YOUR PROPERTY</li>
            <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> ENERGY INDEPENDENCE</li>
        </ul>

    </div>

</div>
<div class="row" style="margin-top: 10px;">
    <div class="col">
        <div class="jumbotron text-center" style="padding: 5px !important; margin-bottom: 0px !important;">

            <p>
                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                We are Licensed, Insured and Bonded
                Residential and Commercial Electrical Contractors
            </p>
        </div>
    </div>
    <div class="col">
        <img class="img-responsive" src="~/Pictures/SolarPanels_Project.jpg" alt="Tesla-Solar-Panels-Project-Business"/>
    </div>
</div>
<div class="row">
    <div class="page-header text-center">

        <h1 class="hidden-xs">
            <b><i>Solar Photovoltaic Systems</i></b>
        </h1>
        <h4 class="visible-xs"><b><i>Solar Photovoltaic Systems</i></b></h4>
    </div>
    <div class="row">
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span> Solar system design
        </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span> Solar system sizing and calculations
        </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span> System applications
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Electrical integrations
        </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Battery systems
        </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Interactive distribution
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Utility interconnections
        </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Troubleshooting
        </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Maintenance and monitoring
        </div>
    </div>
</div>
<div class="row">
    <div class="page-header text-center">
        <h1 class="hidden-xs"><b><i>Electrical Contracting</i></b></h1>
        <h4 class="visible-xs"><b><i>Electrical Contracting</i></b></h4>
    </div>
    <div class="row">
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span> Engineering and Estimating</div>
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span> New construction and renovation</div>
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span> Residential Buildings and Houses</div>
    </div>
    <div class="row">
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span>Energy efficient lighting</div>
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span>Energy efficient general load design</div>
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span>Facility maintenance</div>
    </div>
    <div class="row">
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Service entrance Systems and Equipment
        </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Generators
        </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-check"></span>Transformers
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span>Controls</div>
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span>Smart Homes</div>
        <div class="col-sm-4 services"><span class="glyphicon glyphicon-check"></span>24/7 Electrical Service</div>
    </div>
</div>
<div class="row">
    <h3 class="page-header text-center">Nikola Tesla <small><i>reminder</i></small></h3>
    <div class="col-sm-2 text-center">
        <img alt="Tesla-Inventor-Solar-Energy" class="img-responsive TeslaImg" src="~/Pictures/NikolaTesla.jpg" />
    </div>
    <div class="col-sm-9">
        <p class="text-warning">
            “The sun’s rays falling upon the earth’s surface represent a quantity of energy so enormous that but a small part of it could meet all our demands. By normal incidence the rate is mechanically equivalent to about 95 foot pounds per square foot per second, or nearly 7,300 horsepower per acre of ground.

            The energy of light rays, constituting about 10% of the total radiation, might be captured by a cold and highly efficient process in photo-electric cells which may become, on this account, of practical importance in the future.”—Nikola Tesla (“Our future motive power”; Everyday Science and Mechanics; Dec. 1931)
        </p>
    </div>
</div>


